<div class="appt-background-image"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="flat-show-card">
        <h1><%= @flat.name %></h1>
        <p class="flat-show-address"><%= @flat.address %></p>
      </div>
      <div class="flat-show-card">
        <h3>A bit more about this flat</h3>
        <p><%= @flat.description %></p>
        <div class="map" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=#{@flat.address}&zoom=14&size=400x400')">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="flat-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex">
            <i class="far fa-user mr-2"></i>
            <span><%= @flat.number_of_guests %></span>
          </div>
          <div class="flex ml-3">
            <i class="fas fa-euro-sign mr-2"></i>
            <span><%= @flat.price_per_night %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
